<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=Hp-Elitebook;Initial Catalog=Econtact;Integrated Security=True" />
    <add name="FeeManagement.Properties.Settings.EcontactConnectionString"
      connectionString="Data Source=Hp-Elitebook;Initial Catalog=Econtact;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>